body{
    margin: 0;
    background-color: beige;
    font-family: Impact, monospace;
}

header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-size: cover;
    width: 100vw;
    height: 5vh;
}

nav
{
    display: block;
    position: absolute;
    top: 100px;
    right: 10px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    text-align: right;
}

#menu{
    visibility: visible;
    position: fixed;
    top: 125px;
    right: 10px;
}

#li_kategorie{
    color: black;
    text-decoration: none;
}

#connection{
    display: block;
    position: absolute;
    left: 5px;
    top: 2px
}

ul{
    list-style-type: none;
}

#conn_img{
    height: 5%;
    width: 5%;
}

.ht {
    display: flex;
    justify-content: center;
    font-size: 150%;
    text-shadow: 4px 4px #e8f9fd;
}

.srodek {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: 100vw;
}

footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 100vw;
}

.ft{
    position: fixed;
    bottom: -15px;
    right: 5px;
    font-size: 80%;
    text-shadow: 4px 4px #e8f9fd;
}

.artykul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 80vw;
    height: 25vh;
    margin: 5px;
    padding: 5px;
    background-color: #f0f0f0;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #888888;
}